*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh Sans', sans-serif;
} 
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9B9B9B;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    background-color: #fff;
}
b{
    font-weight: bold;
}
picture{
    height: auto;
    max-width: 1024px;
}
picture img{
    width: 100%;
}
.icon img{
    max-width: 2rem;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 999;
    max-width: 1024px;
    width: 100%;
}
.navbar__container{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    max-width: 1024px;
    margin:  auto;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);

}
.navbar__menu{
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
}
.navbar__item{
    height: 80px;
}
.navbar__links{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 0 1rem;
}
.navbar__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 100%; /* Pas forcement nécessaire*/
}
.navbar__links:hover{
    color: #f77062;
    transition: all 0.3s ease;
}
.section1__img{
    max-width: 1024px;
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
}

.main .container{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin: auto;
    margin-bottom: 4rem;
    max-width: 755px;
    width: 100%;
}
.container h1{
    font-size: 2rem;
    text-align: center;
}
.main p{
    font-size: 1.2rem;
}
.banniere{
    height: 600px;
    width: 300px;
}
.main2 .container{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 4rem 4rem;
    gap: 3rem;
    margin-bottom: 1rem;
    max-width: 755px;
    width: 100%;
    margin: auto;
}
.section{
    padding: 0 10px;
}
.main2 p{
    line-height: 1.3rem;
}
.img-r2d2{
    float: left;
    margin-right: 1.5rem;
}
.container img{
    display: flex;
}
.logo{
    position: absolute;
    max-width: 738px;
    height: auto;
    top: 8rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media screen and (max-width :960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        max-width: 1124px;
        margin: 0 auto;
        padding: 0;
        z-index: 1;
    }
    .navbar__menu{
        display: grid;
        position: absolute;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        height: 50vh;
        z-index: -1;
        transition: all 0.5s ease;
        background-color: #131313;
        top: -1000px;
        opacity: 0;
    }
    .navbar__menu.active{
        height: 50vh;
        z-index: 99;
        transition: all 0.5s ease;
        opacity: 1;
        top: 100%;
        font-size: 1.6rem;
        background-color: #131313;
    }
    #navbar__logo{
        padding-left: 25px;
    }
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5 ease-in-out;
        background-color: #fff;
    }
    .navbar__items{
        width: 100%;
    }
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }
    .navbar__btn{
        padding-bottom: 2rem;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section p{
        padding: 10px;
    }
    .img-r2d2{
        float: none;
    }
    .main2 .container{
        padding: 3rem 14rem;
    }
    .logo{
        max-width: 600px;
    }
}

.main{
    background: #fff;
}
.main__container{
    top: 0;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    max-width: 1124px;
}
.itemContainer{
    display: flex;
    gap: 8rem;
}
.lastSection{
    display: flex;
}


/* Mobile responsive */
@media screen and (max-width: 768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        z-index: 1;
        width: 100%;
    } 
    .main .container, .main2 .container {
        display: block;
        padding: 0 20px;
    }
    .container p{
        margin-bottom: 2rem;
    }
    .logo{
        top: 6rem;
        max-width: 400px;
    }
}
@media screen and (max-width: 480){
    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main__content h2{
        font-size: 2rem;
    }
    .main__content p{
        font-size: 2rem;
        margin-top: 1.5rem;
    }
    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;   
    }
}

/* Footer */

.footer__container{
    background-image: url('./assets/darthvader_2x.jpg');
    background-repeat: no-repeat;
    color: #fff;
    width: 100%;
    max-width: 1024px;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__container .txt{
    margin-bottom: 2rem;
}

.footer__links{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
}  
.footer__link--wrapper{
    display: flex;
}
.footer__link--wrapper p{
    text-decoration: none !important;
}
.footer__link--wrapper picture{
    width: 9rem;
    display: flex;
    justify-content: space-around;
}
.footer__link--items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.footer__link--items p{
    text-decoration: underline #9B9B9B;
    line-height: 2rem;
    color: #9B9B9B;
}
.follow{
    text-transform: uppercase;
    font-size: 0.7rem;
    text-decoration: none;
}



 
 @media screen and (max-width: 820px){
     .footer__links{
         padding-top: 2rem;
     }
     .footer__link--wrapper{
         flex-direction: column;
     }
 }
 @media screen and (max-width: 480px){
    .logo{
        max-width: 200px;
    }
    .footer__links{
        flex-direction: column;
        font-size: 0.7rem;
    }
     .footer__link--items{
         margin: 0;
         padding: 10px;
         width: 100%;
     }
     .itemContainer{
        display: flex;
        gap: 0;
    }
 }
